<mat-card-content>
    <mat-toolbar class="toolbar">
        <mat-card-title>Alta Area</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-content>
<mat-card-content>
    <div class="container">
        <form autocomplete="off" class="formulario">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-6">Descripcion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="vlArea.fc_descripcion" name="descripcion" autofocus>
                </div>
            </div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha Registro" [(ngModel)]="vlArea.fd_fecha_alta" name="fdfecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <div class="form-group-row">
                <button class="btn btn-outline-success" role="button" (click)="createArea()">Guardar</button>
            </div>
        </form>
    </div>