<div class="abrir-modal animacion fadeIn">
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <mat-card-title>Alta Pro yecto</mat-card-title>
            <span class="toolbar-spacer"></span>
            <mat-icon (click)="onNoClick()">cancel</mat-icon>
        </mat-toolbar>
    </mat-card-header>
    <!--<mat-card-content>-->
    <div class="container sm-flex">
        <form autocomplete="off" class="formulario">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-6">Id Subproyecto:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" [(ngModel)]="proyecto.fi_id_subproyecto" name="idsubproyecto" ngControl="idsubproyecto" autofocus>
                    <!--<div *ngIf="!idsubproyecto.valid && idsubproyecto.touched">Por favor, ingresa tus Nombres y Apellidos</div>-->
                </div>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-6">Descripcion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="proyecto.fc_nombre" name="nombre" autofocus>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Buscar area" aria-label="Number" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="SeleccionarArea($event)">
                            <mat-option *ngFor="let area of areaFiltrados | async" [value]="area">
                                {{area.fc_descripcion}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidos" class="col-form-label col-sm-6">Centro de costo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="proyecto.fi_id_cto_costo" name="ctocostos" autofocus>
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidos" class="col-form-label col-sm-6">Id Requerimiento:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="proyecto.fi_id_requerimiento" name="idrequerimiento" autofocus>
                </div>
            </div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha Registro" [(ngModel)]="proyecto.fd_fecha_alta" name="fdfecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <div class="form-group-row">
                <button class="btn btn-outline-success" role="button" (click)="crearProyecto()">Guardar</button>
            </div>
        </form>
    </div>
</div>
<!--</mat-card-content>-->