<div class="search-div example-button-row">
    <button mat-raised-button (click)="addArea()">
        <mat-icon>add</mat-icon>Configurar Area
    </button>
    <button mat-raised-button (click)="addProyecto()">
      <mat-icon>add</mat-icon>Configurar Proyecto
</button>
    <button mat-raised-button (click)="addLider()">
    <mat-icon>add</mat-icon>Configurar Gerente
</button>
</div>
<br>
<div class="container sm-flex">
    <div class="example-container mat-elevation-z8">
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># Proyecto</th>
                    <th scope="col"># Subproyecto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col"># Area</th>
                    <th scope="col"># Requerimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vlproyecto of proyecto">
                    <td>{{vlproyecto.fi_id_proyecto}}</td>
                    <td>{{vlproyecto.fi_id_subproyecto}}</td>
                    <td>{{vlproyecto.fc_nombre}}</td>
                    <td>{{vlproyecto.fi_area}}</td>
                    <td>{{vlproyecto.fi_id_requerimiento}}</td>
                    <!--<td><button type="button" class="btn btn-outline-danger" (click)="DeleteCus(vlcustomer)">Eliminar</button></td>
                <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/customers/form',vlcustomer.id]">Editar</button></td>
                <td><button type="button" class="btn btn-outline-success" [routerLink]="['/invoice/form',vlcustomer.id]">Factura</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>