<div class="search-div example-button-row">
    <button mat-raised-button (click)="AddImplementador()">
      <mat-icon>add</mat-icon>Configurar Implementador
  </button>
    <button mat-raised-button (click)="AddScrum()">
  <mat-icon>add</mat-icon>Configurar Scrum
</button>
</div>
<br>
<div class="container sm-flex">
    <div class="example-container mat-elevation-z8">
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># Proyecto</th>
                    <th scope="col"># Subproyecto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col"># Area</th>
                    <th scope="col"># Requerimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="">
                    <td></td>
                    <!--<td><button type="button" class="btn btn-outline-danger" (click)="DeleteCus(vlcustomer)">Eliminar</button></td>
              <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/customers/form',vlcustomer.id]">Editar</button></td>
              <td><button type="button" class="btn btn-outline-success" [routerLink]="['/invoice/form',vlcustomer.id]">Factura</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>