* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #3fc5f0;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
}

.logo {
    background: #ea5455;
    flex: 1 1 auto;
}

.nav {
    background: #ea5455;
    flex: 5 1 auto;
}

.social {
    background: #ea5455;
    flex: 1 1 auto;
}

.texto-principal {
    background: #f07b3f;
}

h1 {
    background: #51eaea;
}

.section {
    background: #dff6f0;
}

.footer {
    background: #000;
}

.btn-group-vertical {
    /*display: flex;*/
    flex-flow: column nowrap;
}

.dropdown> {
    color: #555555;
    background-color: #e7e7e7;
}

.proyecto {
    background: #878787;
    flex: 5 1 auto;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}