<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>Prueba Flexbox</h2>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo"></div>
                <nav class="nav"></nav>
                <div class="social"></div>
            </div>
            <div class="texto-principal">
                <h1></h1>
            </div>
        </header>
        <section class="section">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-info btn-sm" [routerLink]="['/proyecto']" (click)="abrirProyecto()">Alta Proyecto</button>
                <button type="button" class="btn btn-success btn-sm" [routerLink]="['/catalogos']">Alta Catalogos</button>
                <button type="button" class="btn btn-dark btn-sm" [routerLink]="['/tareas']">Configurar Tareas</button>
                <div class="row container-fluid">
                    <app-proyecto *ngIf="ProyectoSeleccionado"></app-proyecto>
                </div>
            </div>
            <div class="articulos">
                <article class="article"></article>
                <article class="article"></article>
                <article class="article"></article>
                <article class="article"></article>
                <nav class="navegacion"></nav>
            </div>
            <aside class="aside">
                <div class="publicidad"></div>
                <div class="publicidad"></div>
            </aside>
        </section>
        <footer class="footer">
            <div class="pie"></div>
        </footer>
    </div>
</body>

</html>