<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Alta Gerenre</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container">
        <form autocomplete="off" class="formulario">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-6">id empleado:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="vllider.fi_empleado" name="idempleado" autofocus>
                </div>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-6">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="vllider.fc_nombre" name="nombre" autofocus>
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidos" class="col-form-label col-sm-6">Apellido Paterno:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="vllider.fc_apellidop" name="apellidop" autofocus>
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidos" class="col-form-label col-sm-6">Apellido Materno:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="vllider.fc_apellidom" name="apellidom" autofocus>
                </div>
            </div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha Registro" [(ngModel)]="vllider.fd_fechaalta" name="fdfecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <div class="form-group-row">
                <button class="btn btn-outline-success" role="button" (click)="createLider()">Guardar</button>
            </div>
        </form>
    </div>
</mat-card-content>